.profile-wrapper {
    position:relative;
    width: 112px;
    margin: 0 auto 24px;
}

.profile{
    justify-self: center;
    width:100px;
    height:100px;
    border-radius:50%;
    border:2px solid var(--red);
    padding:4px;
    display: block;
    object-fit: cover;
    margin-bottom:24px;
}

.dev-icon {
    position:absolute;
    right: 0;
    bottom: 0;
    width: 42px;
    height: 28px;
}
.subtitle {
  padding-top: 56px;
  padding-bottom: 8px;
  font: var(--subtitle);
  color: var(--gray-200);
  span {
  color:var(--red);
  }
}

.stack-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
 
}

.stack {
    display:inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background: var(--gray-400);
    padding: 10px 18px;
    border-radius: 999px;
    font: var(--text-md);
    color: var(--gray-200);
        img {
        width: 24px;
    }
}

.description {
    padding-top: 20px;
    padding-bottom: 80px;
    color: var(--gray-300);
    font-size: 16px;
}

.subtitle-2 {
  font: var(--subtitle);
  color: var(--red);
}

.card {
        display: flex;
        padding: 12px;
        width: 330px;
        height: 280px;
        background-color: var(--gray-400);
        border-radius: 12px;
        transition:.3s;
        box-shadow: 0 6px 18px rgba(0,0,0,0.35);
    img {
        width: 306px;
        height: 156px;
        justify-self: center;
        padding-bottom: 20px;
        border-radius: 12px;
    }
    h3 {
        padding-bottom: 8px;
    }
    p {
        font: var(--text-sm);
        color: var(--gray-200);
    }
}
.card:hover{
    border: 1px solid;
    border-color:var(--blue);
    transform:translateY(-4px);
}

