.about {
    background-image: url(../assets/Background_Intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1366px;
    height: 750px;
    margin: 0 auto;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    position:relative;
}

.profile-wrapper {
    position:relative;
    width: 112px;
    margin: 0 auto 24px;
}

.profile{
    justify-self: center;
    width:100px;
    height:100px;
    border-radius:50%;
    border:2px solid var(--red);
    padding:4px;
    display: block;
    object-fit: cover;
    margin-bottom:24px;
}

.dev-icon {
    position:absolute;
    right: 0;
    bottom: 0;
    width: 42px;
    height: 28px;
}

.stack-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
 
}

.stack {
    display:inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background: var(--gray-400);
    padding: 10px 18px;
    border-radius: 999px;
    font: var(--text-md);
    color: var(--gray-200);
        img {
        width: 24px;
    }
}

.description {
    padding-top: 20px;
    padding-bottom: 80px;
    color: var(--gray-300);
    font-size: 16px;
}

